includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    excludePaths:
            - App/Tests/*

    level: 6
    checkGenericClassInNonGenericObjectType: false
